<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.techhunt.EEMagmt.DAO.EmployeeDAO">

    <select id="getEmployeeList" resultType="Employee">
        <include refid="com.techhunt.EEMagmt.DAO.EmployeeDAO.getEmployee"></include>
        WHERE
        	SALARY BETWEEN #{minSalary} AND #{maxSalary}
       	ORDER BY ${sort}
        <if test="orderAsc==true"> ASC</if>
        <if test="orderAsc==false"> DESC</if>
        LIMIT #{limit} OFFSET #{offset}
    </select>
    
    <select id="getPaginationPage" resultType="int">
    	SELECT COUNT(*) FROM 
    		EMPYMTDB.EMPLOYEE
    	WHERE
    		SALARY BETWEEN #{minSalary} AND #{maxSalary}
    </select>
    
    <select id="getEmployeeById" resultType="Employee">
    	<include refid="com.techhunt.EEMagmt.DAO.EmployeeDAO.getEmployee"></include>
    	WHERE
    		ID=#{id}
    </select>
    
    <select id="getEmployeeListByLogin" resultType="Employee">
    <include refid="com.techhunt.EEMagmt.DAO.EmployeeDAO.getEmployee"></include>
    	WHERE
    		LOGIN=#{login}
    </select>
    
    <update id="updateEmployee">
    	UPDATE
    		EMPYMTDB.EMPLOYEE
    	SET
    		LOGIN=#{login},
    		NAME=#{name},
    		SALARY=#{salary},
    		DTE_UPDATED=SYSDATE(),
    		VERSION = VERSION+1
    	WHERE
    		ID=#{id}
    	AND
    		VERSION=#{version}
    </update>
    
    <insert id="addEmployee" parameterType="Employee" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    	INSERT INTO
    		EMPYMTDB.EMPLOYEE
    	(
    		ID,
		    LOGIN,
		    NAME,
		    SALARY,
		    VERSION,
			DTE_UPDATED,
			DTE_CREATED
    	)
    	VALUES
    	(
    		#{id},
    		#{login},
    		#{name},
    		#{salary},
    		1,
    		SYSDATE(),
    		SYSDATE()
    	)
    </insert>
    
    <delete id="deleteEmployeeById">
    	DELETE FROM
    		EMPYMTDB.EMPLOYEE
    	WHERE
    		ID=#{id}
    </delete>
    
    <insert id="generateId"  parameterType="Employee" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
    	INSERT INTO EMPYMTDB.ID_GENERATOR (DTE_CREATED) VALUES(SYSDATE())
    </insert>
    
    <sql id="getEmployee">
    	SELECT
        	ID,
        	LOGIN,
        	NAME,
        	SALARY,
        	VERSION,
        	DTE_UPDATED AS dateUpdated,
        	DTE_CREATED AS dateCreated
        FROM
        	EMPYMTDB.EMPLOYEE
    </sql>
</mapper>