<h1 mat-dialog-title>
    <span *ngIf="action=='update'">Edit Employee</span>
    <span *ngIf="action=='add'">Add New Employee</span>
</h1>
<div *ngIf="action=='update'">
    ID:&nbsp;{{employee.id}}
</div>
<div mat-dialog-content>
    <div [formGroup]="employeeForm">
        <mat-form-field style="width:100%">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name">
            <button mat-button *ngIf="employeeForm.get('name').value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('name')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field style="width:100%">
            <mat-label>Login</mat-label>
            <input matInput type="text" formControlName="login">
            <button mat-button *ngIf="employeeForm.get('login').value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('login')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field style="width:100%">
            <mat-label>Salary</mat-label>
            <input matInput type="number" formControlName="salary">
            <button mat-button *ngIf="employeeForm.get('salary').value" matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('salary')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>

<mat-dialog-actions>
        <button *ngIf="action=='update'" class="action-btn" [disabled]="!employeeForm.valid || !employeeForm.touched" mat-raised-button color="primary" (click)="updateEmployee()">Update</button>
        <!-- <button *ngIf="action=='update'" class="action-btn" mat-raised-button color="primary" (click)="updateEmployee()">Update</button> -->
        <button *ngIf="action=='add'" [disabled]="!employeeForm.valid || !employeeForm.touched" mat-raised-button color="primary"  class="action-btn" mat-raised-button color="primary" (click)="addEmployee()">Add</button>
        <button *ngIf="action=='update'" style="margin-left:0px;" class="action-btn" mat-stroked-button color="primary" (click)="deleteEmployee()">Delete</button>
</mat-dialog-actions>